@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyServiceProvider</h1>
    <p class="lead">MyServiceProvider er en NemLogin test application som anvender OIOSAML.NET frameworket fra Digitaliseringsstyrelsen</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Om NemLog-in</h2>
        <p><a class="btn btn-default" href="https://digst.dk/it-loesninger/nemlog-in/">NemLog-in</a></p>
    </div>
    <div class="col-md-4">
        <h2>OIOSAML.Net framework</h2>
        <p><a class="btn btn-default" href="https://github.com/digst/OIOSAML.Net">github</a></p>
    </div>
    <div class="col-md-4">
        <h2>Migrering til MitID</h2>
        <p><a class="btn btn-default" href="https://migrering.nemlog-in.dk/kontakt-og-support/infovideoer-og-webinarer/">infovideoer-og-webinarer</a></p>
    </div>
</div>